<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Latest compiled and minified Bootstrap 3.3.7 CSS -->
      <link rel="stylesheet" href="/css/style.css">
      <title>Comics</title>
  </head>
  <body>
    <ul>
        {{#if last}}
        <li><a href="/">Home</a></li>
        {{else}}
        <li><a href="/" class="active">Home</a></li>
        {{/if}}
        <li><a href="/random">Random Comic</a></li>
    </ul>
        
    <div class="container">
      
        {{{body}}}

    </div>
</body>
</html>